.news .info {
    padding-bottom: 5px;
    border-bottom: 1px solid #c0beb9;
}

p {
    padding: 5px;
    line-height:150%;
    font-weight: bold;
}

.news img {
    max-width: 85%;
    margin: 10px auto;
}

.detail-sidebar .recomand {
    background-color: cadetblue;
    color: white;
    margin-bottom: 20px;
    opacity: .7;
    width: 90%;
}
.detail-sidebar .recomand:hover {
    width: 100%;
    opacity: 1;
    -webkit-transition-duration: 300ms;
}

.detail-sidebar .side-card-list .title {
    font-weight: bold;
    font-size: 18px;
    padding: 3px;
}

.detail-sidebar .side-card-list .item {
    padding: 10px;
}
.detail-sidebar .side-card-list .item a{
    text-decoration: none;
    color: white;
}

.detail-sidebar .side-card-list .item:hover {
    background-color: #87c08a;
}

.detail-sidebar .recomand .item .image {
    max-width: 100%;
    padding: 0;
}

.detail-sidebar .recomand .item .desc {
    font-family: 微软雅黑;
    font-size: 13px;
    padding: 5px;
}

.detail-24 {
    width: 90%;
    opacity: .7;
}
.detail-24:hover {
    width: 100%;
    opacity: 1;
    -webkit-transition-duration: 300ms;
}
