.container-big {
    background-image: url("../../images/2014-06-01 20.44.37.jpg");
    padding-top: 50px;
}

.footer {
    background-color: #c0beb9;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: "Times New Roman", serif;
}