.Logo {
    text-align: center;
    margin-left: 20%;
    display: inline-block;
    position: relative;
    font-weight: bolder;
    font-family: "Times New Roman", serif;
    /*font-size: 28px;*/
}

.container-small {
    max-width: 700px;
    background-color: white;
    margin: 50px auto;
    border-radius: 10px;
    padding: 30px;
}

.container-big {
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0 0 200px 0;
    background-image: url("../../images/2014-05-26 12.51.08.jpg");
}

.big-title {
    border-bottom: 1px solid black;
    padding: 5px 5px 20px 1px;
    font-family: "Times New Roman", serif;
    font-size: 32px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: #c0beb9;
    text-decoration: none;
}

.login-form {
    margin-top: 30px;
}

.find-back {
    margin-bottom: 5px;
    padding-bottom: 5px;
    color: #2e6da4;
}

.navbar {
    margin: 0;
}

.footer {
    background-color: #c0beb9;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    font-family: "Times New Roman", serif;
}