.navbar-brand {
    background-image: url("/src/images/正侃南梁.png");
    background-size: 100%;
    background-repeat: no-repeat;
    width: 80px;
    background-position: center;
    padding: 5px;
}

.side-bar .list-group-item {
    border: 0;
    border-radius: 3px;
}

.list-group-item-heading {
    padding-left: 15px;
    background-color: #dddddd;
    border-radius: 3px;
    padding-top: 1px;
    padding-bottom: 1px;
}
.side-bar>* {
    width: 150px;
    /*text-align: center;*/
}

h4 {
    font-weight: bolder;
}

img {
    max-width: 100%;
}
.newsList-item .col-sm-5{
    padding-right: 0;
}
.newsList-item .title {
    font-weight:bold;
    font-size: 18px;
    text-decoration: none;
}
.newsList-item .info {
    padding-top: 20px;
}
.newsList-item {
    padding: 10px 0 20px 0;
    border-bottom: 1px solid #d8d9d5;
}

.side-card {
    background: #58abea;
    padding: 20px 0;
    margin-bottom: 20px;
}

.side-card-list .side-card {
    color: white;
    background-color: #1586ea;
    border-radius: 3px;
}
.side-card-list .side-card .card-item:hover {
    background-color: #58abea ;
}
.side-card-list .side-card .card-title {
    padding: 5px 15px;
}

.side-card-list .side-card .card-item {
    padding: 5px 15px;
}